@font-face {
  src: url("~/assets/fonts/NissanBrand-light.otf") format("otf");
  font-family: NissanBrand;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NissanBrand-Regular.otf") format("otf");
  font-family: NissanBrand;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url("~/assets/fonts/NissanBrand-Bold.otf") format("otf");
  font-family: NissanBrand;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
