$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$font-family-monospace: sfmono-regular, menlo, monaco, consolas, "Liberation Mono", "Courier New", monospace !default;
$font-nissan-brand: "NissanBrand", $font-family-sans-serif;
$ff-base: $font-nissan-brand !default;
